.recipeContainer {
    padding: 5px;
}

.card-img {
    margin-bottom: 10px;
}

.recipeCard {
    padding: 5px;
    background: linear-gradient(180deg, rgb(230, 228, 208) 0%, rgb(201, 192, 146) 100%);
}